@page "/getparkingspace"
<h3>GetParkingSpace</h3>
@using Data
@using Microsoft.Toolkit.Uwp.Notifications
@inject ApplicationDbContext dbContext
<MudFab StartIcon="@Icons.Material.Filled.Add" Label="Test Notification" Size="Size.Large" OnClick="OnNotiClick" />

@code{
    ToastButton closeButton = new ToastButton("YES", "action=close");
    ToastButton redirectButton = new ToastButton("NO", new Uri("https://localhost:7014/booking").ToString());
       
    public void OnNotiClick()
    {
        new ToastContentBuilder()
    .AddArgument("action", "viewSharingPage")
    .AddArgument("parkingSpaceIdentity", 9813) // here we can pass the user id, and parking identity.
    .AddText("hello there")
    .AddText("Are you going in tomorrow?")
    .AddButton(closeButton)
     .AddButton(redirectButton)
    .Show(); // Not seeing the Show() method? Make sure you have version 7.0, and if you're using .NET 6 (or later), then your TFM must be net6.0-windows10.0.17763.0 or greater
    }
   
}