<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <Class="d-flex justify-end flex-grow-1 gap-4" Elevation="0">
         <MudNavLink Href="Identity/Account/Login" Match="NavLinkMatch.All" Style="width: 50px" Class="pa-0"> <MudIcon Icon="@Icons.Material.Filled.Login"></MudIcon></MudNavLink>
        </Class>
    </NotAuthorized>
</AuthorizeView>

